<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

<h1>Hello <%= items %></h1>

<ul>
<% items.forEach(item => { %>
  <li><%= item %></li>
<% }) %>
</ul>

</body>
</html>